# Dao board configuration

# Copyright (c) 2021 Rafael Yumagulov
# SPDX-License-Identifier: MIT

config BOARD_Zireael_LEFT
	bool "Zireael_left"
	depends on SOC_NRF52840_QIAA

config BOARD_DAO_RIGHT
	bool "Zireael_right"
	depends on SOC_NRF52840_QIAA
