# Dao board configuration

# Copyright (c) 2021 Rafael Yumagulov
# SPDX-License-Identifier: MIT

config BOARD_Dao_LEFT
	bool "Dao_left"
	depends on SOC_NRF52840_QIAA

config BOARD_DAO_RIGHT
	bool "Dao_right"
	depends on SOC_NRF52840_QIAA
